
  .button-container {
    width: 100%;
    text-align: right; /* ここで右寄せ */
    margin-top: 10px; /*上幅あける*/
    margin-bottom: 10px; /*下幅あける*/
    
  }

  .btn{
    border: none; /*外枠なくす*/
  }
  
  .red {
    background-color: pink; /*色*/
  }
  
  .blue {
    background-color: white; /*色*/
  }
  