/**
 * スタート画面のcss
 * @author 若菜
 */
 
 .start-container{
    width: 50%; 
    max-width: 1120px;
    margin: 0 auto; 
    /* background: green; */
}

.title{
    border-bottom: solid 1px #444;
    color: #444;
    padding: 30px;
    font-size:  8vw;
    text-align: center;
  }

  .button-container {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  


.btn{
    width: 40%;
    height: 40px;
    background-color: #444;
    color: #ffffff;
    margin-top: 20px;
    gap: 20%;
    display: flex;    
    justify-content: center;     
}   

.btn:hover{
    background-color: #666;
    color: #ffffff;
}

.text{
    display: flex;  
    justify-content: center;
    margin-top: 40px; 
    font-size: 3vw;
}